# Ignore images
blogs/static/images/profile.jpg

# Python cache and bytecode files
__pycache__/
*.pyc

# SQLite database
*.sqlite3

# Linux Virtual environment
env/

# Logs and other temporary files
*.log

# windows virtual environment
myenv/
