# Ignore images
static/images/profile.0c9eca608eed.jpg
static/images/profile.jpg

# Python cache and bytecode files
__pycache__/
*.pyc

# SQLite database
*.sqlite3

# Linux Virtual environment
env/

# Logs and other temporary files
*.log

# windows virtual environment
myenv/

venv/
