asgiref==3.8.1
beautifulsoup4==4.12.3
dj-database-url==2.3.0
Django==4.2.18
django-bootstrap-v5==1.0.11
django-heroku==0.3.1
psycopg2-binary==2.9.10
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.8.2
