{% extends "blogs/base.html" %}
{% block title %}
<title>Blogs</title>
{% endblock title%}

{% block content %}
<h1>Blogs</h1>

<ul>
    {% for blog in blogs %}
    <li> 
        <a href="{% url 'blogs:blogpost' blog.id %}">{{ blog }}</a>
        <small>
            <a href="{% url 'blogs:editblog' blog.id %}">Edit this blog</a>
        </small>
    </li>
    {% empty %}
    <li>
        No blogs available.
    </li>
    {% endfor %}
</ul>

<a href="{% url 'blogs:newblog' %}">Add a new blog</a>
{% endblock content %}
