{% extends "blogs/base.html" %}
{% load static %}

<head>

    {% block title %}<title>About Me</title>{% endblock title %}
    <style>
        .profile-img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        .about-section {
            text-align: center;
        }
    </style>
</head>
<body>
    {% block page_header %}
    <h1 class="mb-4 about-section">About Me</h1>
    {% endblock page_header %}
    {% block content %}
    <div class="container mt-5 about-section">
        <img src="{% static 'images/profile.jpg' %}" alt="Profile Picture"
         class="img-circle profile-img mb-4 rounded-circle" alt="profile pic" width="204" height="136">

        <p>
            Hello, I'm Peter Njoroge. With a strong proficiency in Django, I specialize in building robust and dynamic web applications. <br>
            My skill set also includes a solid foundation in CSS and HTML, which allows me to craft visually appealing and user-friendly interfaces. <br>
            In addition, I've dabbled in C++ and PHP programming, giving me a versatile approach to problem-solving and software development.<br>
             My experience with various technologies equips me with a comprehensive understanding of web development, enabling me to tackle diverse projects with confidence and creativity.
        </p>
    </div>
    {% endblock content %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
